<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>商品信息管理</h1>
        请输入商品信息: <input type="text" v-model="msg" value="">
        <input type="button" value="添加" @click="add"><br><br>
        <table border="1" cellspacing="0" cellpadding="20">
            <tr>
                <td>编号</td>   
                <td>名称</td>
                <td>单价</td>
                <td>数量</td>
                <td>操作</td>
            </tr>
            <tr v-for="(product,i) in pro">
                <td v-for="p in product">{{ p }}</td>
                <td @click="del(i)">删除</td>
            </tr>
        </table>
        <p>{{ msg }}</p>
    </div>
    <script src="../vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                msg:"",
                pro:[]
            },
            methods: {
                add(){
                    console.log(this.pro);
                    console.log(this.msg.split(' '));
                    var msg1 = this.msg.split(' ');
                    /* var f = false;
                    var idx = -1;
                    for(var k in this.pro){
                        if(this.pro[k][1] == msg1[1]){
                            f = true;
                            idx = k;
                            this.pro[k][3] = Number(msg1[3])+Number(this.pro[k][3]);
                        }
                    }
                    if(!f){
                        this.pro.push(msg1);
                    }else{
                        this.pro.push(...this.pro.splice(idx,1))
                    } */
                    for(var k in this.pro){
                        if(this.pro[k][1] == msg1[1]){
                            f = true;
                            idx = k;
                            this.pro[k][3] = Number(msg1[3])+Number(this.pro[k][3]);
                            this.msg = "";
                            return ;
                        }
                    }
                    this.pro.push(msg1)
                },
                del(k){
                    this.pro.splice(k,1);
                    // console.log(this.pro);
                }
            },
        });
        
    </script>
</body>
</html>