<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>进货</title>
</head>
<body>
	<div id="app">
		<table border="1" cellspacing="0" cellpadding="10">
			<tr>
				<th>编号</th>
				<th>名称</th>
				<th>价格</th>
				<th>数量</th>
				<th>操作</th>
			</tr>
			<tr>
				<th>
					<select name="pid" v-model.number="pid">
						<option :value="i" v-for="(p,i) in brands"> {{ i }} </option>
					</select>
				</th>
				<th>
					<select name="pname"  v-model="pid">
						<option :value="i" v-for="(p,i) in brands"> {{ p }} </option>
					</select>
				</th>
				<th>
					<span> {{ prices[pid] }} </span>
				</th>
				<th>
					<input type="number" name="count" v-model.number="counts">
				</th>
				<th>
					<button @click="add">添加</button>
				</th>
			</tr>
			<tr v-for="(g,i) in goods">
				<td> {{ g.id }} </td>
				<td> {{ g.name }} </td>
				<td> {{ g.price }} </td>
				<td> {{ g.count }} </td>
				<td><button @click="del(i)">删除</button></td>
			</tr>
		</table>
	</div>




	<script src="../vue.js"></script>
	<script>
		let vm = new Vue({
			el: "#app",
			data: {
				pid: 0,
				brands: ["请选择品牌","海尔","小米","三星","格力","华为","美的"],
				prices: ["未选择",1000,2000,3000,2800,1200,5000],
				counts: 1,
				goods: [
					{id: 1, name: "海尔", price: 1000, count: 30}
				]
			},
			methods: {
				add() {
					let obj = {
						id: this.pid,
						name: this.brands[this.pid],
						price: this.prices[this.pid],
						count: parseInt(this.counts)
					}
					console.log(obj);
					if(obj.id == 0) return;
					for(let k=0; k<this.goods.length; k++) {
						if(obj.name == this.goods[k].name) {
							obj.count = obj.count + this.goods[k].count;
							if(obj.count <= 0) {
								this.goods.splice(k, 1);
							} else {
								this.goods.splice(k, 1, obj);
							}
							return;
						}
					}
					if(obj.count <= 0) return;
					this.goods.push(obj);
				},
				del(i) {
					this.goods.splice(i, 1);
				}
			}
		});
	</script>
</body>
</html>