<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>对象方式</title>
    <style>
        input{
            width: 50px;
        }
        table{
            width: 400px;
            line-height: 30px;
        }
    </style>
</head>
<body>
    <div id="app">
        编号:
        <select v-model="index">
            <option :value="i" v-for="(pro,i) in pros">{{pro.id}}</option>
        </select>
        商品名:
        <select v-model="index">
            <option :value="i"  v-for="(pro,i) in pros">{{pro.name}}</option>
        </select>
        价格:
        <span> {{pro.price}} </span>
        数量:
        <input type="text" v-model.number="num">
        <button @click="add">添加</button>
        <br>
        <table border="1" cellspacing="0">
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>价格</th>
                <th>数量</th>
                <th>编辑</th>
            </tr>
            <tr v-for="(p,i) in products">
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.count }}</td>
                <td @click="del(i)">删除</td>
            </tr>
        </table>
    </div>

    <script src="../vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                index:0,
                num:3,
                pro:[],
                pros:[
                    {id:'1001',name:'华为',price:'5000',count:58},
                    {id:'1002',name:'小米',price:'3500',count:60},
                    {id:'1003',name:'魅族',price:'3000',count:45},
                    {id:'1004',name:'锤子',price:'3800',count:55},
                ],
                products:[]
            },
            methods:{
                add(){
                    this.pro.count = this.num;
                    let f = false; // 假设不存在相同的商品
                    for(let i=0;i<this.products.length;i++){
                        let o = this.products[i];
                        if(o.name==this.pro.name){
                            f = true; // 假设错误，有相同的
                            o.count = (this.pro.count-0)+(o.count-0);
                        }
                    }
                    if(!f){
                        // 数据不同，要添加
                        this.products.push(this.pro);
                        console.log(this.pro);
                        console.log(this.products);
                    }
                },
                del(k){
                    this.products.splice(k,1);
                }
            },
            watch: {
                index:{
                    handler(newVal){
                        this.pro = this.pros[newVal];
                    },
                    immediate:true
                }
            },
        })
    </script>
</body>
</html>